* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.container {
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
}

.blu {
    background-color: #0c325a;
}

.background {
    background-image: url('../img/oldman.png');
    background-size: cover;
}

nav {
    height: 70px;
    line-height: 70px;
    text-transform:uppercase;
    font-size: 11px;
    color: white;

}

#logo-img img {
    float: left;
    padding: 11px 0;
    margin-right: 30px;
}

.menu-bar {
    float: left;

}

.menu-bar li {
    display: inline-block;
    padding: 0 5px;
}

.right-buttons {
    float: right;
}

.right-buttons span, .right-buttons button {
    padding: 0 5px;
}

#login {
    border: 2px solid white;
    background-color: transparent;
    color: white;
    padding: 6px 10px;
    border-radius: 6px;
    text-transform: uppercase;
    margin-left: 7px;
}

#button-top-right {
    background-color: #7cbb02;
    border: #7cbb02;
    color: white;
    padding: 6px 10px;
    border-radius: 6px;
    text-transform: uppercase;
    margin-left: 7px;
}

.banner {
    height: 330px;
    position: relative;

}

.testo-banner {
    width: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 20px;
}

.banner-button button {
    margin-top: 18px;
    background-color: #7cbb02;
    border: #7cbb02;
    color: white;
    font-size: 18px;
    padding: 6px 10px;
    border-radius: 6px;
    text-transform: uppercase;
}



.grigio {
    background-color: #d3d3d3;
    text-align: center;
    padding: 40px;
}

.main-middle-text {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 10px;
}

.low-middle-text {
    color: #808080;
    font-size: 20px;
}

.container-fullwidth.bianco {
    margin-top: 30px;
}

.bianco {
    background-color: white;
}

.box {
    width: 33.3333%;
    height: 100%;
    float: left;
    text-align: center;
}

.box img {
    height: 100px;
}

.title-box {
    color: #7cbb02;
    font-size: 22px;
    height: 59.2px;
}

.line {
    width: 50px;
    height: 2px;
    background-color: #808080;
    display: inline-block;
}


.box p {
    color: #808080;
    margin-top: 10px;
    line-height: 25px;
    padding-left: 0 4px;
}
